extends layout

block content
  body.body
    .text-center#c1
      span.s1 Nur limitierte Plätze verfügbar! Melden sie sich innerhalb von 15 Minuten kostenlos an um sich ein Platz zu sichern.
    .text-center#c2
      span#title Bitcoin World
      img#logo(
            src='/images/bitcoin.svg'
            class='align-top'
        ) 
    .d-flex.justify-content-center#c3
      img#bild1(
          src='/images/bild1cut2.jpg'
      )
      span#text1 Noch kein Großes Haus mit Pool und Porsche in der Garage? Dann kannst Du sofort mit unserer neuen Spitzentechnologie und Algorithmen schon über 3.000 tausend Euro am Tag verdienen!
    .container-fluid#c4     
      .row
        .col
          .text-center#c5
            .container-fluid
              span.s1 Haben sie es Leid jeden Tag zu von früh bis abends zu arbeiten und trotzdem kein Geld im Konto zu haben? Melden sie sich gleich noch kostenlos an und verdienen sie heute schon Geld. Mit unserem Bitcoin Algorithmus können sie mit 20 Minuten Arbeit am Tag schon 3400€ in der Woche verdienen.
            button#cta1(
                          type='button'
                          class='btn btn-warning'
                      ) Starten sie jetzt und seien sie morgen schon Reich! Starten sie jetzt weil es ihre Zukunft ist!
        .col
          .container-fluid
            .row.reihe
              .col-md-auto#colu
                  img.bild2(
                      src='/images/bild2cut.jpg'
                      class='rounded-circle'
                  )
              .col#colu
                  span.s1 Christopher Bauer, Handwerker, verdient bis zu 9.730 Euro im Monat weil er unseren Finanzberatern getraut hat.
            .row.reihe
              .col-md-auto#colu
                  img.bild2(
                      src='/images/bild3.jpg'
                      class='rounded-circle'
                  )
              .col#colu
                  span.s1 Maximilian Fischer, Finanz Abschluss von der Humboldt-Universität Berlin, verdient mit unserer Exklusiven Technologie 10.479 Euro im Monat.
            .row.reihe
              .col-md-auto#colu
                  img.bild2(
                      src='/images/bild4.jpg'
                      class='rounded-circle'
                  )
              .col#colu
                  span.s1 Ben Neumann, Graffitikünstler, verdient neben seiner Kunst 3.639 Euro mit 10 Minuten Arbeit am Tag.
    .container-fluid#c6
      .row
        .col#colu
            img.bild3(
                            src='/images/icon1.png'
                            class='rounded'
                        )
            p.font-weight-bold.s1 Melden sie sich schnell und kostenlos an.
            p.s1 Sobald ihre Registrierung akzeptiert wurde, werden sie gleich von ihrem persönlichen Finanzberater kontaktiert und sind ein Teil der Bitcoin World Familie.
        .col#colu
            img.bild3(
                            src='/images/icon2.png'
                            class='rounded'
                        )
            p.font-weight-bold.s1 Ihr Konto einzahlen
            p.s1 Sie benötigen ein Betriebskapital von 250€ mit dem sie gleich anfangen können zu traden. Ihr Berater wird ihn bei jedem Schritt zur Seite stehen.
        .col#colu
            img.bild3(
                            src='/images/icon3.png'
                            class='rounded'
                        )
            p.font-weight-bold.s1 Verdienen!
            p.s1 Nutzen sie unseren preisgekrönten Algorithmus für den präzisen und akkuraten Handel. Oder Handeln sie Manuel wenn Sie es vorziehen, auf eigener Hand zu agieren. Genießen sie die tausende von Euros die dein Konto bereichern werden.
    .text-center
        button#cta1(
                        type='button'
                        class='btn btn-danger'
                    ) Starten sie jetzt und seien sie morgen schon Reich! Starten sie jetzt weil es ihre Zukunft ist!
